body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

#portfolioBtn {
    display: block;
    left: 20px auto;
    background:url(./figma/B-DESIGNS.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 60px; 
    padding: 20px;
    background-color: #000000;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin-top: 5vh;
    margin-left: 5vh;
}

#portfolioBtn:hover {
    background:url(./figma/B-DESIGNS-hover.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    background-color: white;
    outline: 1px solid #000000;
}


h1{
    background:url(./figma/Music-Genre-Timeline.png);
    color: transparent;
    width: fit-content;
    place-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vh;
}


h4{
    margin-top: 10px;
    color: #333;
    text-align: center;
    max-width:fit-content;
    place-self: center;
}

#timeline {
    width: 90%;
    margin: auto;
    height: 500px;
    max-width:fit-content;
    place-self: center;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    visibility: hidden;
}